{% load static %}

<!doctype html>
<html lang="en">

<head>
    <title>Websites</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">

        <div>
            <img src="{% static 'firstapp/images/foods.jpg' %}" alt="banner" class="img-fluid" />
        </div>



        <!-- https://getbootstrap.com/docs/4.6/components/navs/ -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'firstapp:websites' %}">Website</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'firstapp:contents' %}">Contents</a>
            </li>
        </ul>



        <div class="row">

            {% for website in List_Websites %}
            <div class="col-md-6" style="margin: 15px 0;">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ website.name }}</h5>
                        <h5 class="card-title">Category: {{ website.category }}</h5>
                        <p class="card-text">
                            <a href="{{ website.url }}">
                                {{ website.url }}
                            </a>
                        </p>
                        <a href="{% url 'firstapp:contents_by_web_2' website.pk %}"
                            class="btn btn-primary">Detail...</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <br><br>
        <h4 class="text-center">Modal</h4>
        <div class="row">

            {% for website in List_Websites %}
                <div class="col-md-6" style="margin: 15px 0;">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ website.name }}</h5>
                            <h5 class="card-title">Category: {{ website.category }}</h5>
                            <p class="card-text">
                                <a href="{{ website.url }}">
                                    {{ website.url }}
                                </a>
                            </p>
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#ws{{ website.pk }}">Detail...</a>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="ws{{ website.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ website.name }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <ol>
                                    {% with contents=website.content_set.all %}
                                        {% if contents|length > 0 %}
                                            {% for content in contents %}
                                                <h4><li>{{ content.website }} - {{ content.name }}</li></h4>

                                                <p class="text-justify">{{ content.content|safe }}</p>

                                                <div class="text-center">
                                                    <img src="{{ content.image.url }}" class="img-fluid" />
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            <p>Không có nội dung</p>
                                        {% endif %}
                                    {% endwith %}
                                </ol>
                            </div>
{#                            <div class="modal-footer">#}
{#                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                                <button type="button" class="btn btn-primary">Save changes</button>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>